@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    padding: 20px;
  }

  .card {
    width: 100%;
    min-height: auto;
  }
}

body {
  background-image: url("6176753.jpg");
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.5s ease;
  background-color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:3%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#bloc {
  height:65%;
  width:30%;
  background-color:grey;
  opacity: 0;
  transform: translateY(30px);
  animation: entrada 1s ease-out forwards;
  border-radius: 10px;
  background: #4d5a6e;
  background: linear-gradient(0deg,rgba(77, 90, 110, 1) 0%, rgba(87, 87, 87, 1) 100%);
  box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  font-family:Segoe UI;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

h1{
  font-family:Segoe UI;
  font-size:130%;
  color:white;
  width:90%;
  float:left;
}
#h3{
  font-family:Segoe UI;
  font-size:200%;
  color:white;
  width:100%;
  height:10%;
  float:left;
  margin-bottom:40%;
  position:fixed;
  z-index:999;
}
#text{
  font-family:Segoe UI;
  font-size:100%;
  color:white;
  cursor:pointer;
  transition:all 0.5s;
}


#a{
  font-family:Segoe UI;
  font-size:60%;
  color:white;
  width:auto;
  height:auto;
  background-color:#2798F5;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 10px;
  border:none;
  transition:all 0.1s;
  cursor:pointer;
}
#a:focus{
  transform:scale(0.9)
  
}
#yo{
width:95%;
height:50%;
background-color:white;
position:fixed;
z-index:1000;
display:none;
  box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  font-family:Segoe UI;
  font-size:200%;
  color:black;
}
#yo2{
width:95%;
height:50%;
background-color:white;
position:fixed;
z-index:1000;
display:none;
  box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  font-family:Segoe UI;
  font-size:200%;
  color:black;
}
#yo3{
width:95%;
height:50%;
background-color:white;
position:fixed;
z-index:1000;
display:none;
  box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 1px 111px 39px rgba(0,0,0,0.75);
  font-family:Segoe UI;
  font-size:200%;
  color:black;
}

#blue{
width:100%;
height:10%;
background-color:#5A9DD1;
}


@keyframes entrada {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
